/*Author: MakeUBig
Author URL: http://MakeUBig.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-*/


/*.modal-content{
  width:700px;
}
*/
.osmicon{
  max-height: 52px!important;
  max-width: 50px!important;
}
.osmicon-fridge{
  background-image: url('../images/icon/fridge.png');
  background-repeat: no-repeat;
}
.osmicon-dryer{
  background-image: url('../images/icon/dryer.png');
  background-repeat: no-repeat;

}
.osmicon-wifi{
  background-image: url('../images/icon/wifi.png');
  background-repeat: no-repeat;
}
.osmicon-ac{
  background-image: url('../images/icon/ac.png');
  background-repeat: no-repeat;
}
.osmicon-car{
  background-image: url('../images/icon/car.png');
  background-repeat: no-repeat;
}
.osmicon-security{
  background-image: url('../images/icon/security.png');
  background-repeat: no-repeat;
}
.osmicon-food{
  background-image: url('../images/icon/food.png');
  background-repeat: no-repeat;
}
.osmicon-chair{
  background-image: url('../images/icon/chair.png');
  background-repeat: no-repeat;
}
.osmicon-tv{
  background-image: url('../images/icon/tv.png');
  background-repeat: no-repeat;
}
.osmicon-iron{
  background-image: url('../images/icon/iron.png');
  background-repeat: no-repeat;
}
.osmicon-insafe{
  background-image: url('../images/icon/insafe.png');
  background-repeat: no-repeat;
}
.osmicon-gym{
  background-image: url('../images/icon/gym.png');
  background-repeat: no-repeat;
}
.osmicon-geyser{
  background-image: url('../images/icon/geyser.png');
  background-repeat: no-repeat;
}
.osmicon-power{
  background-image: url('../images/icon/power.png');
  background-repeat: no-repeat;
}
.osmicon-laundry{
  background-image: url('../images/icon/laundry.png');
  background-repeat: no-repeat;
}
.osmicon-cctv{
  background-image: url('../images/icon/cctv.png');
  background-repeat: no-repeat;
}
.osmicon-housekeeping{
  background-image: url('../images/icon/housekeeping.png');
  background-repeat: no-repeat;
}

.prop-desc
{
  color:#eee!important;
}


.insta
{
  background-color: #6B7B8E;
    height: 25px;
    width: 25px;
    border-radius: 15px;
    padding-top: 4px;
    padding-left: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
@media (max-width: 468px)
{
.tex{
    margin-left:6.5em!important;
}
}

@media (min-width: 1200px)
{
.col-lg-offset-1 {
    margin-left: 8.33333333%;
    margin-top: 1em;
}
}
   .address 
{
color: #fff!important;
margin :1em;
 margin-top: 0em!important;
font-size: 13px;
font-weight: 100;
margin-bottom: 0.5em;
padding-bottom: 0.5em;
}
.address p
{
  color: #fff!important;
  font-size: 14px;

  margin-bottom:0.5em;
}

.loginbook
{
  margin-top: 6em;
  
  height: 22.4em;
}
.mrgbot
{
margin-bottom: 0px!important;
margin-top: 2em!important;
}
 .margn1
 {
  margin-top: -1.5em!important;
 }
.margn
{
margin-top: -1em!important;
margin-bottom: 0.5em!important;
}

.bot
{
  margin-bottom: 2em!important;
}
.descr
{
  margin-left: 2em!important;
}
.addr
{
  color: #fff!important;
  margin-left: 2em; 
  margin-top: -1em;
  padding-bottom: 0.5em;
}
.price2
{
  margin-top: -1em;
  margin-left: 2em; 
  margin-bottom: 0.5em

}
.price
{
  margin-top: -3em;
}
.listviewbg
{
background-color: #aab2bf!important;
}
.listviewbg h3
{
  margin-left: 1em;
}
.back
{
  background-color: black!important;
}
.tool{
    position: relative;
    display: inline-block;}

 .tooltext {
    visibility: hidden;
    width: 100px;
    background-color: #F7882F;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    margin-bottom: -3.3em;
    margin-left: 1em;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 1s;
}

.tool .tooltext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tool:hover .tooltext {
    visibility: visible;
    opacity: 1;
}

.room
{
  background-color: #eee;
  border: 1px solid #eee;
  border-radius:10px;
  margin:2px;
  width:31.5%;
}

.inactive{
  opacity: 0.4;
}
.panel-footer
{
  border-color: white!important;
}
.company-grids
{
  padding-left: 1em;
}

.agent-grid
{
  margin-bottom: 1em;
}
.agent-grid p
{
  color: #fff;
  font-size: 13px;
}
.view2
{
margin-left: -2em; width: 120%;
}
.contact-p
{
text-align: center;
}
.img-bottom
{
  margin-top: 1em;
  margin-bottom: -1em;
}
#frontend-signin > div > label
{
  padding-top: 0.5em;
}

#frontend-signup > div > label
{
  padding-top: 0.5em;
}

.test-grid:hover .imgDescription {
  visibility: visible;
    opacity: 1;
}

.test-grid:hover .integral {
  visibility: hidden;
    opacity: 1;  
}
.imgDescription{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 29px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity:0;
  }

.general{

opacity:0;

}
.profile
{
  text-decoration: none;
  margin-top: 1em;
  width: 0px;
}
.view2
{
  margin-bottom: -1em!important;
}
.view
{
  margin-bottom: 1em;
}
#datetimepicker1
{
  margin-bottom: 2em;
}
#error-search-field
{
  color:#f7882f;
}
.demo-inner-content
{
  /*background-image: url("/images/search33.png");*/
  height: 350px;
}
.highlighter
{
  background-color: #f7882f;
    padding-right: .5em;
    padding-left: .5em;
}
.highlighter a
{
  color:#fff!important;
}
.form-view
{
  margin: 2em;
}
.margin-general
{
  margin-top: .5em;
  margin-bottom: 0.2em;
  color: #F7882F;
}

.hidden
{
  display:none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: .5em; 
 }

/*.about-grid-1
{
  border-right: solid orange 1.5px;
}*/
.card1
{
  border: double orange 1.5px;
  padding-top: .5em;
  margin-left: -.5em;
  border-radius: 5px;
}

.header1{
  font-weight: bold;
  font-size: 34px;
  text-align: center;
  margin-top: .5em;
}
.paragraph1{
    font-size:15px;
    margin-top: 2em;
    color:#464444;
    text-align: justify;
}
.linear{
    font-weight: bold;
    font-size: 20px;
    margin-top: 1em;
}
.header2{
    font-size: 24px;
    margin-top: 1em;
}
.grid-margin{
    margin-top: 1em;
    margin-bottom: 1em;
}
.heading1{
  text-align: center;
  color: #31708f;
  padding: 1em 0 1em;
  font-size: 1.8em;
  margin-top:.5em;
}
.logo
{
  margin-top:-.3em;
}
#osmgirl{
  background-image: url(../images/mg1.jpg);
  background-repeat-x: no-repeat; 

}
#osmboy{
  background-image: url(../images/mg2.jpg);
  background-repeat-x: no-repeat;
}
#osmfamily{
  background-image: url(../images/mg3.jpg);
  background-repeat-x: no-repeat;
}
@font-face {
    font-family: comforta;
    src: url(../fonts/Comfortaa-Regular.ttf);
}

@font-face {
  font-family : righteous;
  src : url(../fonts/righteous.ttf);
}

body{
  font-family: 'comforta', sans-serif;
    font-size: 14px;
}
body a{
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

#open, .closebtn {
    display: none;
}

.osmhead
{
  font-family: 'righteous' , 'comforta'!important;
  color: #F7882F!important;
}
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #F7882F;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-heightmulti-gd-text a: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}


.remove-pad {
    padding-right:0;
    padding-left:0;
}
.remove-pad > .form-control {
    border-radius: 0; 
}
.input-lg {
    font-size: 14px;
}
.formData {
    margin-bottom: 2em;
}
 ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.form-group h5
{
    margin-bottom:10px;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0;
  font-family: 'comforta', sans-serif;
  font-weight: 700;
  color: #fd9847;
}
p{
  margin:0;
  padding:2em 2em -.7em 0em; 
  line-height: 2em; 
  color: #777;
}
p.buy {
    color: #ccc;
}
.search {
    width: 100%;
    border-radius: 0; 
    background-color: #F7882F;
    color: white;
    font-size: 18px;
}
/*--banner--*/
.banner-info {
    padding-top: 2%;
    padding-bottom: 2%; 
}
.banner-info h1 a, .banner-info h2 {
    color: #F7882F!important;
}
.banner-info h1 a {
    font-size: .8em;
    text-decoration: none;
}
.banner-info h2 {
    font-size: 1.8em;
}
/*---*/
.navbar-collapse {
    margin: 0 5%;
}

.navbar-collapse, .navbar-default {
    background-color: #F7882F!important;
    height: 5px!important;
}
.navigation {
    background: #F7882F;
}

nav a {
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
}
nav a:hover,
nav a:focus {
  outline: none;
}
/*----*/
.header {
    background: #ffffff;
}
.header-top {
     padding-top: 1em!important;
     min-height: 60px;
}
.indicate {
    float: left;
}
.deatils{
    float: right;
    margin-right: 6em;
}

.indicate a{
  font-size: 1.1em;
    color: #6B7C8E;
    text-decoration: none;
    outline: none;
  vertical-align: middle;
}
.indicate i{
  font-size: 1.2em;
    vertical-align: middle;
    margin-right: 0.5em;
    color: #6B7C8E;
}
.deatils ul li {
    display: inline-block;
  margin: 0 14px;
}
.deatils ul li i {
    font-size: 1.8em;
    vertical-align: middle;
    margin-right: 0.5em;
    color: #F7882F;
}
.deatils ul li a {
    font-size: 1.1em;
    color: #6B7C8E;
    text-decoration: none;
    outline: none;
  vertical-align: middle;
}
.social-icons {
    float: right;
    margin-right: 1.6em;
    /*margin-top: .7em;*/
}
.social-icons a i {
/*    width: 20px;
    height: 20px;
    background:#6B7C8E   url(../images/img-sprite.png) no-repeat 0px 0px;
    display: inline-block;
  margin:0 0.2em;
  transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
      border-radius: 16px;
*/
    width: 30px;
    height: 30px;
    background: #6B7C8E url(../images/img-sprite.png) no-repeat 0px 0px;
    display: inline-block;
    margin: 0px 0.2em -5px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border-radius: 50%;
    transform: scale(.8);

}
/*.social-icons i.icon:hover {
  background: #6B7C8E    url(../images/img-sprite.png) no-repeat 0px 0px;
      transform: rotateY(360deg);
}*/
.social-icons i.icon {
    background-position: 0px 0px;
}
.social-icons i.icon1 {
    background-position: -32px 0px;
}
/*.social-icons i.icon1:hover {
  background: #6B7C8E    url(../images/img-sprite.png) no-repeat -32px 0px;
      transform: rotateY(360deg);
}*/
.social-icons i.icon2 {
    background-position: -64px 0px;
}
/*.social-icons i.icon2:hover {
  background: #6B7C8E    url(../images/img-sprite.png) no-repeat -64px 0px;
      transform: rotateY(360deg);
}*/
.social-icons i.icon3 {
    background-position: -96px 0px;
}
/*.social-icons i.icon3:hover {
  background: #6B7C8E    url(../images/img-sprite.png) no-repeat -96px 0px;
      transform: rotateY(360deg);
}*/
.social-icon {
    margin-top: 1.8em;
}
.social-icon a i {
    width: 32px;
    height: 32px;
    background:#6B7C8E url(../images/img-sprite.png) no-repeat 0px 0px;
    display: inline-block;
  margin:0 0.2em;
  transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
      border-radius: 16px;
}
.social-icon i.icon:hover {
  background: #34495e   url(../images/img-sprite.png) no-repeat 0px 0px;
}
.social-icon i.icon {
    background-position: 0px 0px;
}
.social-icon i.icon1 {
    background-position: -32px 0px;
}
.social-icon i.icon1:hover {
  background: #34495e   url(../images/img-sprite.png) no-repeat -32px 0px;
}
.social-icon i.icon2 {
    background-position: -64px 0px;
}
.social-icon i.icon2:hover {
  background: #34495e   url(../images/img-sprite.png) no-repeat -64px 0px;
}
.social-icon i.icon3 {
    background-position: -96px 0px;
}
.social-icon i.icon3:hover {
  background: #34495e   url(../images/img-sprite.png) no-repeat -96px 0px;
}
.social-icon i.icon4:hover {
  background: #34495e  no-repeat -128px 0px;
}
.logo {
    display: inline-block;
    margin-left: 1.3em;
}
.logo h1 a{
    float: left;
  text-decoration:none;
    color: #F7882F;
  font-size:.7em;
}
.logo span {
    display: block;
    font-size: 0.32em;
    letter-spacing: 4px;
}
.header-bottom {
    padding-top: 1em;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-default {
    background:#fff ;
    border: none!important;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
  font-family: 'comforta', sans-serif;
  font-weight: 900;
    padding: .3em 1em;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #6B7C8E;
    background-color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #6B7C8E;
    background-color: #fff;
}
.navbar {
    position: relative;
    min-height: 23px;
    margin-bottom: 0;
    border: 1px solid transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #F7882F;
    background-color: #fff;
}
/*-- nav-hover-effect --*/
.menu__list {
  position: relative;
    -webkit-flex-wrap: inherit;
    flex-wrap: inherit;
    list-style: none;
}

.menu__item {
  display: block;
}

.menu__link {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
  outline: none;
}

/* Francisco */
.menu--francisco {
    margin-left: 2%;
}


.menu--francisco .menu__link {
  position: relative;
    overflow: hidden;
    height: 3em;
    padding: 1em 0 1em;
  text-align: center;
  color: #b5b5b5;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.menu--francisco .menu__link:hover,
.menu--francisco .menu__link:focus {
  color: #929292;
}

.menu--francisco .menu__item--current .menu__link{
  color: #6B7C8E;
}
.menu--francisco .menu__link::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
    opacity: 0;
    background: #6B7C8E;
  -webkit-transform: translate3d(0, -3em, 0);
  transform: translate3d(0, -3em, 0);
  -webkit-transition: -webkit-transform 0s 0.3s, opacity 0.2s;
  transition: transform 0s 0.3s, opacity 0.2s;
}

.menu--francisco .menu__item--current .menu__link::before,.menu--francisco .menu__link:hover::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.1s;
  transition: transform 0.5s, opacity 0.1s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu--francisco .menu__helper {
  display: block;
  pointer-events: none;
}

.menu--francisco .menu__item--current .menu__helper,.menu__link:hover  .menu__helper{
  -webkit-animation: anim-francisco 0.3s forwards;
  animation: anim-francisco 0.3s forwards;
}

@-webkit-keyframes anim-francisco {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes anim-francisco {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/*-- //nav-hover-effect --*/
/*--header-menu--*/
/*--banner--*/

.slider {
  position: relative;
/*-- MakeUBig --*/ 
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.caption{
  width: 60%;
  position: absolute;
  top: 44%;
  left: 20%;
  text-align:center;
}
.caption h3{
  color: #ffffff;
  font-size: 3.5em;
  text-transform: capitalize;
}
.caption p{
  line-height: 1.8em;
  font-size: 1.2em;
  text-align: center;
  font-weight: 400;
  width: 81%;
  margin: 5px auto 0px;
  color:#eee;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  /*-- agileits --*/
  height: 15px;
  width: 15px;
  display: inline-block;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  background:#506a85;
}
.callbacks_here a:after{
  background:rgb(23, 167, 139);
}
.callbacks_tabs a{
  visibility:hidden;
}
.callbacks_tabs li{
  display:inline-block;
  display:none;
}
ul.callbacks_tabs.callbacks1_tabs {
  position: absolute;
  bottom: -2px;
  z-index: 999;
  left: 46%;
  background:#fff;
  
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 44%;
  left: 14%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: none;
  margin-top: -45px;
  }
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 14%;
 }
.serach-w3agile {
    background: #6B7C8E;
    padding: 3em 0;
}
.place-grid h5 {
    font-size: 1.5em;
    color: #fff;
}
.sel {
    width: 100%;
    padding: .3em 1em;
    font-size: 1em;
    margin-top: 1em;
    outline: none;
    text-transform: capitalize;
    border: 1px solid #BBBBBB;
}
.place-grid input[type="submit"] {
    width: 100%;
    background: #F7882F;
    border: none;
    outline: none;
    color: #fff;
    padding: .4em;
  font-size:1em;
}
.place-grid:nth-child(6) {
    margin-top: 2.7em;
}
.popular-w3,.about-mubs,.services-mub,.projects-agile,.contact-mub {
    padding: 4em 0;
}
.special-w3, .why-w3{
    padding: 3em 0;
}
.company-w3 {
    margin-bottom: 5em;
}
.page-w3{
    padding: 3em 0;
}

.testimonials-mub {
    background: #F7882F;
    padding: 2em 0;
       
}
h2.tittle {
    font-size: 1.8em;
    text-align: center;
      color: #F7882F;
      margin-bottom: 1em;
}
.place-grids,.popular-grids,.testimonial-grids,.about-grids,.count-grids,.agent-grids,.service-grids,.special-grids,.map,.contact-grids,.contact-form {
    margin-top: 4em;

}
.testimonial-grids{

            margin-bottom:4em;
}
.feature-grids{
    margin-top: 2em;
}
.popular-grid h4 {
    font-size: 2em;
    text-align: center;
    background: #F7882F;
    padding: 0.5em;
    color: #fff;
}
.popular-text {
    text-align: center;
    border-left: 3px double #E8EBEF;
    border-right: 3px double #E8EBEF;
    border-bottom: 3px double #E8EBEF;
}
.popular-grid:hover img {
    webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
.popular-grid img {
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
.detail-bottom ul {
    border-top: 1px solid #eee;
    padding: .5em 0;
}
.detail-bottom ul li.text-info {
    width: 53%;
    color: #777;
    font-size: 1em;
    font-weight: 400;
    float: left;
    text-align: left;
    margin-left: 0.8em;
    line-height: 2em;
}
.detail-bottom ul li.text-info1 {
    width: 20%;
    color: #777;
    font-size: 1em;
    font-weight: 400;
    float: right;
    text-align: right;
    margin-right: 0.8em;
    line-height: 2em;
}
.popular-grid h5 {
    font-size: 1.8em;
    color: #222;
    padding: 0.5em;
}
a.button {
    background: #6B7C8E;
    width: 100%;
    display: block;
    padding: .5em;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
}
.popular-grid p {
    font-size: 1em;
    line-height: 1.8em;
    padding: 1em 1em;
}
h3.tittle{
  font-size: 1.8em;
    text-align: center;
  color:#31708f;;
}
.item img {
    width: 96%;
}
.properties-mubs{
  padding:3em 0 4em;
  background:rgba(255, 255, 255, .15);
}
.properties-grid1 p {
    font-size: 1em;
    line-height: 1.8em;
    padding: 1em 1em;
  color:#f7882f;
}
.left-grid {
    float: left;
    width: 14%;
    margin-right: 2%;
}
.right-grid {
    float: left;
    width: 84%;
}
.left-grid p {
    color: #fff;
    background: #6B7C8E;
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    margin: 0;
    border-radius: 50%;
    text-align: center;
    padding-top: 0.6em;
}
.right-grid p {
    font-size: 1em;
    padding: .5em 0 0;
}
.properties-grid1 h4 {
    font-size: 1.2em;
    color: #31708f;;
}
.care {
    margin-top: 3em;
}
.icons i {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    border-radius: 100%;
    color: #F7882F;
    box-shadow: inset 0 0 0 1px #F7882F;
    -webkit-box-shadow: inset 0 0 0 1px #F7882F;
    transition: background-color 400ms,background-color 400ms;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.fer-grid:hover .icons i{
   background-image: -webkit-linear-gradient(90deg,#F7882F 0%,#6B7C8E 100%);
    background-image: -webkit-linear-gradient(90deg,#F7882F 0%,#6B7C8E 100%);
    background-image: -ms-linear-gradient(90deg,#F7882F 0%,#6B7C8E 100%);
    color: #fff;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.8);
    -webkit-box-shadow: inset 0 0 0 5px rgba(255,255,255,0.8);
}
h3.tittle1{
    text-align: center;
    color: #F7882F;
    font-size: 1.8em;
}
h3.title {
    text-align: center;
    color: white;
    margin-top:.2em;
    font-size: 1.8em;
}
.featured-mub {
    text-align: center;
    padding-bottom: 2em;
}
.title1 {
    margin-top: 1em;
    color:#6B7C8E;
    margin-bottom: 1em;
}
.fer-grid h4 {
    font-size: .8em;
    color: #F7882F;
    padding: 0.5em 0;
}
.fer-grid p {
    font-size: 1em;
    line-height: 1.8em;
}
.test-right {
    
    padding: 1.1em;
    box-shadow: 0 0 8px #F7882F;
}
.test-grid p {
    font-size: 1em;
    line-height: 1.8em;
      color: #eee;
}
.test-grid h5 {
    font-size: 1.4em;
    color: #fff;
    margin: 0.5em;
}
.test-left img {
    border: 3px double #6B7C8E;
    box-shadow: 0 0 8px #6B7C8E;
    padding: 0.2em;
}
.footer-section {
    background: #6B7C8E;
    padding: 3em 0;
}
.footer-grid h4 {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: .5em;
}
.footer-grid p {
    font-size: .96em;
    color: #eee;
    line-height: 1.8em;
}
.footer-grid ul li a {
    font-size: .96em;
    color: #eee;
    line-height: 1.8em;
  text-decoration:none;
}
.footer-grid i {
    font-size: 1.2em;
    color: #fff;
    margin-right: 11px;
  line-height: 1.8em;
}
.footer-grid ul li  {
    list-style: none;
  font-size: .96em;
    color: #eee;
    line-height: 1.8em;
}
.footer-grid ul li a:hover {
    color: #F7882F;
}
.footer-grid p a {
    color: #eee;
}
.copy-section{
  padding:2em 0;
  text-align:center;
  background: #6B7C8E;
}
.copy-section p {
  font-size: 0.9em;
  color: #fff;
  font-weight: 400;
}
.copy-section  a {
  font-size: 1em;
  color:#fff;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.8em;
}
.copy-section a:hover {
  color: #fff;
}
.copy-section a {
  margin: 0 0.3em
}
/*--about--*/
.banner1 {
    background: url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 190px;
    padding: 6em 0 0;
    text-align: center;
}
.banner1 h3 a {
    color: #fff;
    text-decoration: none;
}
.banner1 h3 {
    font-size: 2em;
    color: #fff;
    margin: 0 0 2em;
}
.banner1 h3 span {
    color: #6B7C8E;
}
.multi-gd-text .vik {
    display: block;
    position: relative;
}
.multi-gd-text .vik:hover::before {
    width: 100%;
    height: 100%;
}
.multi-gd-text .vik::before {
    background: rgba(0,0,0,0.34);
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    transition: all 0.5s ease-out 0s;
    z-index: 99;
    content: "";
}
/*.multi-gd-text img {
    height: auto;
    width: 100%;
}*/
.multi-gd-text .vik:hover::after {
    width: 100%;
    height: 100%;
}
.multi-gd-text a::after {
    background:rgba(5, 34, 42, 0.49);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    transition: all 0.5s ease-out 0s;
    z-index: 99;
    content: "";
}
.about-grid h4 {
    color: #6B7C8E;
}
.about-grid p {
    font-size: 1em;
    line-height: 2em;
    margin-top: 1em;
}
.count-agileits {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    text-align: center;
    margin-top: 2em;
    padding: 3em 0 ;
    background-color: #6B7C8E;
    border-bottom: 2px solid orange;
    border-top: 2px solid orange;
}
.count-grid span {
    background: #eee;
    display: block;
    width: 65px;
    height: 2px;
    margin: 0 auto;
}
.count-grid h4 {
    font-size: 4em;
  color:#fff;
}
.count-grid h5 {
    font-size: 1.5em;
    color: #28689e;
  margin-top: 1em;
}
.count-grid i {
    font-size: 2.5em;
    color: #f7882f;
    width: 50px;
    height: 52px;
    /*padding-top: 0.7em;*/
  -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
}
.numscroller {
    font-size: 2.5em;
    color: #fff;
  font-family: 'comforta', sans-serif;
        padding: 0.3em 0;
}

.company-grid
{
    background-color: #fff;
        margin-bottom: 1em;
    width: 33.333%;
}

.company-grid h4 {
    color: #6B7C8E;
    margin: 0.5em 0 0.4em;
}
.company-grid p {
    font-size: 1em;
    line-height: 1.8em;
}
/*--about--*/
/*--services--*/
.service-top1 {
    margin-top: 2em;
}
.serce-grid h4{
    color: #6B7C8E;
    font-size: 1.2em;
    text-transform: capitalize;
    padding: 0.8em 0 0.5em;
}
.serce-grid p {
    font-size: 1em;
    line-height: 1.8em;
}
.special1{
  position:relative 
}
.special-icon i {
    font-size: 1.5em;
    color: #fff;
    top: 1.2em;
}
.special-icon {
    position: absolute !important;
    bottom: -18%;
    left: 38%;
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    background: #6B7C8E;
    border-radius: 60%;
    -webkit-border-radius: 60%;
    -moz-border-radius: 60%;
    -o-border-radius: 60%;
    -ms-border-radius: 60%;
    text-align: center;
}
/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F7882F;
    border-radius: 50%;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  -o-border-radius: 60%;
  -ms-border-radius: 60%;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before,.services-grid:hover .hvr-sweep-to-top:before{
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.special-bottom {
    background: #f5f5f5;
    text-align: center;
    padding: 4em 1em 2em;
}
.special-grid h4 {
    font-size: 1.2em;
    color: #6B7C8E;
}
.special-grid p {
    font-size: 1em;
    line-height: 1.8em;
    margin-top: 1em;
}
h3.tittle2 {
    font-size: 1.6em;
    text-align: center;
    color: #F7882F;
  margin-bottom:.8em;
  margin-top:.8em;
}
ul.place {
  padding: 0;
  margin: 6px 0;
  background:#F7882F;
  width: 100%;
}
ul.place li {
  display: inline-block;
  padding: 6px;
}
ul.place li {
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.why-grid p {
    font-size: 1em;
    color: #777;
    line-height: 1.8em;
}
p.why-text {
    padding-top: .8em;
}
/*--services--*/
/*--project--*/
/*-- portfolio --*/
.portfolio_grid_mubss:nth-child(3){
  margin:2em 0;
}
.portfolio_grid_mubss:nth-child(2){
  margin-top:4em;
}
.w3agile_Projects_grid figure {
    margin: 0;
    padding: 0;
    height:232.5px;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
}
.w3agile_Projects_grid figure:hover figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    top: 0;
}
.w3agile_Projects_grid figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
  top: -100%;
    background: rgba(0,0,0,.5);
    color: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.w3agile_Projects_grid figcaption h4 {
    color: #6B7C8E;
    padding: 0px 20px;
    margin-bottom: 0;
    position: relative;
    left: 100%;
    font-size: 2em;
    margin: 2em 0 .5em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
    text-align: center;
    text-transform: capitalize;
}
.w3agile_Projects_grid figcaption p {
    font-family: 'comforta';
    line-height: 1.8em;
    text-align: center;
    padding: 0px 20px;
    margin-bottom: 0;
    position: relative;
    left: 100%;
  color:#eee;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1.3s;
    -moz-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    -ms-transition-delay: 1.3s;
    transition-delay: 1.3s;
}
.w3agile_Projects_grid figure:hover h4,.w3agile_Projects_grid figure:hover p {
    left: 0;
}
/*-- //portfolio --*/
/*--project--*/
/*--codes--*/
.page-header h3{
  font-size: 2.5em;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
}
.grid1 {
  margin: 1.5em 0 0;
}
ul.nav.nav-pills {
  margin: 1.5em 0 0;
}
.grid2{
  margin: 1em 0 0;
}
.form-horizontal .control-label {
  text-align: left;
}
/*--codes--*/
/*--contact--*/
.map {
    width: 100%;
    min-height: 400px;
}
.contact-right ul li i {
    font-size: 1.2em;
    margin-right: 7px;
    color: #777;
}
.contact-right ul li {
    list-style: none;
    line-height: 2.5em;
    font-size: 1em;
    color: #777;
}
.contact-right h4 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #6B7C8E;
}
.contact-right {
    margin-top: 3em;
}
.contact-mub p {
    font-size: 1em;
    line-height: 1.8em;
    padding-top: 1em;
}
.contact-right ul li a {
    color: #777;
    text-decoration: none;
}
.contact-form input[type="text"],.contact-form input[type="mail"],.contact-form textarea{
  background:none;
  border: 1px solid #D9D9D9;
    color: #A3A3A3;
    padding: 13px 10px;
  font-size: 14px;
  outline: none;
}
.contact-form input[type="text"],.contact-form input[type="mail"]{
  width: 32.98%;
  float: left;
}
.contact-form input[type="mail"]{
  margin:0 6px;
}
.contact-form textarea{
  min-height: 200px;
  resize: none;
  width: 100%;
  margin:1em 0;
}
.contact-form input[type="submit"],.contact-form input[type="reset"]{
  outline: none;
    color: #fff;
    font-size: 1em;
    padding: 13px 0;
  width: 12%;
    background:#F7882F;
    border: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.contact-form input[type="submit"]:hover,.contact-form input[type="reset"]:hover{
  background:#6B7C8E;
}
.contact-form h4{
  font-size: 1.6em;
    margin: 0 0 1em;
}
/*--contact--*/
/*-- login --*/
.modal-header {
    border-bottom: none;
}
.modal-dialog {
    width: 550px;
    margin: 2em auto 0 auto;
}
.modal-body {
    padding: 2em 4em 1em;
}
.login-right h3{
    font-size: 2.5em;
    text-transform: capitalize;
    text-align: center;
     font-family: 'comforta', sans-serif;
    color: #6B7C8E;
    margin-top: -1em;
    margin-bottom: 0.5em;
}
.login-right input[type="text"] ,.login-right input[type="password"] {
    width: 100%;
    padding: 10px;
    font-weight: normal;
    background: none;
    border: 1px solid #6B7C8E;
    color: #f7882f;
    outline: none;
    font-size: 14px;
    /*margin-top: 10px;*/
}
.login-right h4{
  color:#C53743;
  font-size:12px;
  margin:20px 0;
}
.login-right h4 a{
  color:#6B7C8E;
  text-decoration:none;
}
.login-right h4 a:hover{
  color:#6B7C8E;
}
.login-right input[type="submit"] {
  background:#F7882F;
  color: #fff;
  font-size: 1.5em;
  border: none;
  width: 100%;
  outline: none;
  -webkit-appearance:none;
      padding: .5em 0;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
    margin-top: -1.5em;
      font-family: 'comforta', sans-serif;
}
.login-right input[type="submit"]:hover {
  background:#6B7C8E;
}
.login-grids p {
    font-size: 12px;
    margin-top: 25px;
  color:#A9A8A8;
}
.login-grids p a{
  color:#6B7C8E;
  text-decoration:none; 
}
.modal-header .close {
    outline: none;
}
/*--login--*/

/*--responsive--*/
@media(min-width:1500px)
{
  .view2{
    margin-left: 0.6em;
    width: 102%;
}
.deatils {
    float: right;
    margin-right: 8em;
}
.logo{
  margin-left: 2.1em;
}
.val1
{
  margin-left: 31em;
}
.val2
{
margin-left: 31em;
}
.agent-left {
    float: left;
    width: 30%;
}
.price
{
  margin-top: -2em;
}
.addr
{
  color: #ff9b4b!important;
  margin-left: 2em; 
  margin-top: 0.2em;
  padding-bottom: 0.3em;
}
.agent-right {
    float: left;
    width: 70%;
    background: #fff;
    margin-right: -1em;
    padding: 2em 2em .2em 0em;
}
.agent-right h4 {
    color: #F7882F;
}
.agent-right ul li {
    list-style: none;
    line-height: 2.5em;
    font-size: 1em;
    color: #777;
}

.room
{
  background-color: #eee;
  border: 1px solid #eee;
  border-radius:10px;
 
  width:31.5%;
}
.agent-grid p
{
  color: #fff;
  font-size: 13px;
}  
}

@media(max-width:1440px){
  .agent-right ul {
    padding-top: 1em;
}
.agent-left {
    float: left;
    width: 30%;
}
.agent-right {
    float: left;
    width: 70%;
    background: #fff;
    margin-right: -1em;
    padding: 2em 2em 0em 0em;
}
.agent-right h4 {
    color: #F7882F;
}
.agent-right ul li {
    list-style: none;
    line-height: 2.5em;
    font-size: 1em;
    color: #777;
}
.caption {
    top: 40%;}
.view2{
margin-left: -2em; width: 90%;
}
.agent-grid p
{
  color: #fff;
  font-size: 13px;
}

.room
{
  background-color: #eee;
  border: 1px solid #eee;
  border-radius:10px;
 
  width:31.5%;
}
}

@media(max-width:1360px)
{
  .view2{
    margin-left: 0.6em;
    width: 102%;
}

.agent-left {
    float: left;
    width: 30%;
}
.agent-right {
    float: left;
    width: 70%;
    background: #fff;
    margin-right: -1em;
    padding: 2em 2em 0em 0em;
}
.agent-right h4 {
    color: #F7882F;
}
.agent-right ul li {
    list-style: none;
    line-height: 2.5em;
    font-size: 1em;
    color: #777;
}

.room
{
  background-color: #eee;
  border: 1px solid #eee;
  border-radius:10px;
 
  width:31.5%;
}
.agent-grid p
{
  color: #fff;
  font-size: 13px;
}  
}

@media(max-width:1280px){
  
  .view2
{
margin-left: -2em; width: 90%;
}
.agent-grid p
{
  color: #fff;
  font-size: 13px;
}
.agent-left {
    float: left;
    width: 37%;
}
.agent-right {
    float: left;
    width: 63%;
    background: #fff;
    margin-right: -1em;
    padding: 2em 2em 0em 0em;
}
.agent-right h4 {
    color: #F7882F;
}
.agent-right ul li {
    list-style: none;
    line-height: 2.5em;
    font-size: 1em;
    color: #777;
}

}
@media(max-width:1080px){
.caption {
    top: 37%;
    left: 10%;
    width: 75%;
}
.room
{
  background-color: #eee;
  border: 1px solid #eee;
  border-radius:10px;
 
  width:31.5%;
}
.view2
{
margin-left: -2em; width: 120%;
}
.caption h3 {
    font-size: 3em;
}
.agent-grid p
{
  color: #fff;
  font-size: 13px;
}

.caption p {
    font-size: 1.1em;
}
h3.tittle,h3.tittle1,h3.tittle2 {
    font-size: 3.2em; 
}
h2.tittle {
    font-size: 3.2em;
}
.detail-bottom ul li.text-info1 {
    width: 26%;
}
.popular-w3,.featured-mub,.testimonials-mub, .about-mubs, .company-w3,.count-agileits, .services-mub, .special-w3, .why-w3, .projects-agile, .page-w3, .contact-mub,.footer-section,.agent-mub {
    padding: 4em 0;
}
.properties-mubs {
    padding: 4em 0 4em;
}
.popular-grid h4,.fer-grid h4,.about-grid h4,.company-grid h4,.serce-grid h4,.special-grid h4,.contact-right h4{
    font-size: 1.8em;
}
.popular-grid p {
    font-size: 0.965em;
    padding: 1em 0.8em;
}
.right-grid p,.fer-grid p,.test-grid p,.about-grid p,.company-grid p,.serce-grid p,.special-grid p,.why-grid p,.contact-mub p{
  font-size: 0.965em;
}
.agent-left {
    float: left;
    width: 37%;
}
.agent-right {
    float: left;
    width: 63%;
    background: #fff;
    margin-right: -1em;
    padding: 1em 1em 1em;
}
.agent-right h4 {
    color: #F7882F;
}
.agent-right ul li {
    list-style: none;
    line-height: 2.5em;
    font-size: 1em;
    color: #777;
}
.w3agile_Projects_grid figure {
    height: 188.5px;
}
.contact-form input[type="text"], .contact-form input[type="mail"] {
    width: 32.9%;
}
}
@media(max-width:1024px){
    .social-icons
{
margin-top: -0.1em!important;
}
}
@media(max-width:992px){
    
    .view2
{
margin-left: -2em; width: 120%;
}

.room
{
  background-color: #eee;
  border: 1px solid #eee;
  border-radius:10px;
 
  width:31.5%;
}
.no-display {
    display: none;
}
    #open {
    display: inline-block;
} 
.agent-grid p
{
  color: #fff;
  font-size: 13px;
}

.offset-left {
    padding-left: 5%;
}
    #searchTab {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F7882F;
    overflow-x: hidden;
    transition: all .5s;
    padding-top: 60px;
    padding-right: 0;
    padding-left: 0;
}

#searchTab a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.8s;
}

#searchTab a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

#searchTab .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.new-line {
        margin: 5% auto;
        float: left!important;
    }
.menu--francisco .menu__item {
    margin: 0 1em;
}
.place-grid {
    float: left;
    width: 33.3%;
}
.place-grid:nth-child(4),.place-grid:nth-child(5) {
    margin-top: 2em;
}
.place-grid:nth-child(6) {
    margin-top: 4.7em;
}
.popular-grid {
    float: left;
    width: 33.3%;
}
.place-grids, .popular-grids, .testimonial-grids, .about-grids, .company-grids, .count-grids, .agent-grids, .service-grids, .special-grids, .map, .contact-grids, .contact-form {
    margin-top: 3em;
}
.detail-bottom ul li.text-info1 {
    width: 33%;
}
.popular-grid h5 {
    font-size: 1.5em; 
}
h3.tittle,h3.tittle1,h3.tittle2 {
    font-size: 3em; 
}
h2.tittle {
    font-size: 3em;
}
.caption {
    top: 39%;
    left: 10%;
    width: 75%;
}
.caption p {
    font-size: 1em;
}

.form-mar {
    margin-top: 2%;
}

.properties-grid {
    float: left;
}
.properties-grid1 {
    float: left;
}
.left-grid {
    float: left;
    width: 21%;
}
.right-grid {
    float: left;
    width: 77%;
}
.fer-grid {
    margin: 10px auto;
    padding: 10px 15px;
}
.feature-grids {
    margin-top: 0;
}


.popular-grid h4, .fer-grid h4, .about-grid h4, .company-grid h4,.agent-right h4, .serce-grid h4, .special-grid h4, .contact-right h4,.footer-grid h4,.w3agile_Projects_grid figcaption h4  {
    font-size: 1.6em;
}
.test-grid {
    float: left;
    width: 33.33%;
}
.test-left {
    float: left;
    width: 40%;
}
.test-right {
    float: left;
    width: 100%;
}
.test-right {
    padding: 1em;
}
.footer-grid {
    float: left;
}
.footer-grid:nth-child(2),.footer-grid:nth-child(4) {
    padding: 0;
}
.about-grid1 {
    float: left;
    
}
.company-grid {
    float: left;
    width: 33.3%;
}
.count-grid {
    float: left;
    width: 25%;
}
.agent-left {
    float: left;
    width: 37%;
}
.agent-right {
    float: left;
    width: 63%;
    background: #fff;
    margin-right: -1em;
    padding: 1em 1em 1em;
}
.agent-right h4 {
    color: #F7882F;
}
.agent-right ul li {
    list-style: none;
    line-height: 2.5em;
    font-size: 1em;
    color: #777;
}
.agent-grid:nth-child(2) {
    margin-top: 3em;
}
.serce-grid {
    float: left;
    width: 50%;
}
.service-left {
    float: left;
    width: 50%;
}
.service-right {
    float: left;
    width: 50%;
}
.special-grid {
    float: left;
    width: 33.3%;
}
.special-icon {
    left: 31%;
  bottom: -26%;
}
.why-grid {
    float: left;
    width: 50%;
}
.w3agile_Projects_grid {
    float: left;
    width: 33.3%;
}
.w3agile_Projects_grid figure {
    height: 140.5px;
}
.w3agile_Projects_grid figcaption h4 {
    margin: 0.5em 0 .5em;
}
.map {
    width: 100%;
    min-height: 300px;
}
.contact-left {
    float: left;
    width: 50%;
}
.contact-right {
    float: left;
    width: 50%;
}
.contact-form input[type="text"], .contact-form input[type="mail"] {
    width: 32.75%;
}
}
@media (max-width:805px) {
    

.form-control {
     width: 100%;
}
.room
{
  background-color: #eee;
  border: 1px solid #eee;
  border-radius:10px;
 
  width:31.5%;
}
.agent-grid p
{
  color: #fff;
  font-size: 13px;
}

}

@media(max-width:768px){
.agent-grid p
{
  color: #fff;
  font-size: 13px;
}

.view2
{
margin-left: -2em; width: 120%;
}
.navbar-collapse {
    margin: 0;
    padding: 0;
}

.room
{
  background-color: #eee;
  border: 1px solid #eee;
  border-radius:10px;
 
  width:100%;
}


div.offset-left > span {
    font-size:20px;
    cursor:pointer;
    margin-bottom: 1em;
}

.zs-bullets {
    display: none; 
}

.navbar-toggle {
    float: none;
    text-align: center;
    margin-right: 0px;  
}

.navbar-header {
    text-align: center;
}
.navbar-toggle {
    background:#6B7C8E;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #6B7C8E;
}

.tab-form {
    width: 80%!important;
    margin: 0 auto;
}


.social-icons {
    float: none;
    margin-top: 0.7em;
    text-align: center;
}
.caption h3 {
    font-size: 2.8em;
}
.caption p {
    font-size: 0.96em;
}
.popular-grid p {
    font-size: 0.96em;
    padding: 1em 0.5em;
}
.caption {
    top: 32%;
  width: 80%;
}
.place-grid:nth-child(6) {
    margin-top: 4.4em;
}
h3.tittle, h3.tittle1, h3.tittle2 {
    font-size: 2.8em;
}
h2.tittle {
    font-size: 2.8em;
}
.properties-grid {
    width: 100%;
}
.properties-grid1 {
   
    width: 100%;
}
.left-grid {
    float: left;
    width: 11%;
}
.place-grid h5 {
    font-size: 1.3em;
}
.serce-grid {
    float: left;
    width: 50%;
    padding: 0;
}
.special-icon {
    bottom: -31%;
}
.w3agile_Projects_grid figure {
    height: 133.5px;
}
}
@media(max-width: 767px) {
    ul.navbar-nav {
    width: 100%;
}

.room
{
  background-color: #eee;
  border: 1px solid #eee;
  border-radius:10px;
 
  width:100%;
}
.agent-grid p
{
  color: #fff;
  font-size: 13px;
}


}
@media(max-width:667px){
.logo h1 a {
    font-size: 1.2em;
}
.agent-grid p
{
  color: #fff;
  font-size: 13px;
}


.room
{
  background-color: #eee;
  border: 1px solid #eee;
  border-radius:10px;
 
  width:100%;
}
.listview
{
margin-left: 10em;
}
.view2
{
margin-left: -2em; width: 120%;
}
.indicate a,.deatils ul li a {
    font-size: 1em; 
}
.caption h3 {
    font-size: 2.6em;
}
.popular-grid {
    width: 69%;
    margin: 0 auto;
  float: none;
}
.popular-grid:nth-child(2) {
    margin: 2em auto 2em;
}
.popular-grid h4, .fer-grid h4, .about-grid h4, .company-grid h4, .agent-right h4, .serce-grid h4, .special-grid h4, .contact-right h4, .footer-grid h4, .w3agile_Projects_grid figcaption h4,.properties-grid1 h4 {
    font-size: 1.5em;
}
.banner1 {
    min-height: 155px;
    padding: 5em 0 0;
}
.test-left {
    width: 100%;
}
.test-right {
    width: 100%;
}
.serce-grid {
    width: 100%;
}
.serce-grid:nth-child(2) {
    margin-top: 2em;
}
.service-img img {
    margin: 0 auto;
}
.special-icon {
    width: 70px;
    height: 70px;
}
.special-icon i {
    top: 1em;
}
ul.place li {
    font-size: 1em;
}
.w3agile_Projects_grid {
    width: 65%;
    margin: 0 auto;
  float: none;
}
.w3agile_Projects_grid figure {
    height: 247.5px;
}
.w3agile_Projects_grid figcaption h4 {
    margin: 4em 0 .5em;
}
.w3agile_Projects_grid:nth-child(2) {
    margin: 2em auto;
}
.contact-form input[type="text"], .contact-form input[type="mail"] {
    width: 32.65%;
}
.contact-right {
    margin-top: 0em;
}
.contact-right ul li {
    font-size: 0.965em;
}
.map {
    width: 100%;
    min-height: 250px;
}
}
@media(max-width:640px){
.popular-grid {
    width: 72%;
    margin: 0 auto; 
}
.room
{
  background-color: #eee;
  border: 1px solid #eee;
  border-radius:10px;
 
  width:100%;
}
.agent-grid p
{
  color: #fff;
  font-size: 13px;
}

.listview
{
margin-left: 10em;
}
.view2
{
margin-left: -2em; width: 120%;
}
.popular-grid h4, .fer-grid h4, .about-grid h4, .company-grid h4, .agent-right h4, .serce-grid h4, .special-grid h4, .contact-right h4, .footer-grid h4, .w3agile_Projects_grid figcaption h4, .properties-grid1 h4 {
    font-size: 1.42em;
}
.popular-w3, .featured-mub, .testimonials-mub, .about-mubs, .company-w3, .count-agileits, .services-mub, .special-w3, .why-w3, .projects-agile, .page-w3, .contact-mub, .footer-section,.agent-mub {
    padding: 3em 0;
}
.caption {
    top: 30%;
    width: 80%;
}
.w3agile_Projects_grid {
    width: 68%;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 13px;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 56%;
}
}
@media(max-width:600px){
.caption {
    top: 26%;
    width: 86%;
    left: 7%;
}

.room
{
  background-color: #eee;
  border: 1px solid #eee;
  border-radius:10px;
 
  width:100%;
}

.popular-grid {
    width: 77%;
    margin: 0 auto;
}
.fer-grid {
    width: 100%;
}
.fer-grid:nth-child(2) {
    margin: 2em 0;
}
.left-grid {
    float: left;
    width: 15%;
}
.popular-grid h4, .fer-grid h4, .about-grid h4, .company-grid h4, .agent-right h4, .serce-grid h4, .special-grid h4, .contact-right h4, .footer-grid h4, .w3agile_Projects_grid figcaption h4, .properties-grid1 h4 {
    font-size: 1.6em;
}
.company-grid {
    width: 100%;
    margin-bottom: .5em;
}
.company-grid:nth-child(2) {
    margin: 2em 0;
}
.count-grid {
    float: left;
    width: 50%;
}
.count-grid:nth-child(3),.count-grid:nth-child(4) {
    margin-top: 2em;
}
.special-grid {
    float: left;
    width: 50%;
}
.special-grid:nth-child(3) {
    margin-top: 2em;
}
.why-grid {
    width: 100%;
}
.why-grid:nth-child(2) {
    margin-top: 2em;
}
.special-icon {
    bottom: -23%;
    left: 37%;
}
.w3agile_Projects_grid {
    width: 73%;
}
.contact-form input[type="text"], .contact-form input[type="mail"] {
    width: 32.6%;
} 
}
@media(max-width:568px){

.caption p {
    width: 98%; 
}
.room
{
  background-color: #eee;
  border: 1px solid #eee;
  border-radius:10px;
 
  width:100%;
}

.caption h3 {
    font-size: 2.5em;
}
.listview
{
margin-left: 10em;
}
.view2
{
margin-left:0em!important; width: 100%;
}
h3.tittle, h3.tittle1, h3.tittle2 {
    font-size: 2.5em;
}
.popular-grid {
    width: 82%;
    margin: 0 auto;
}
.agent-right ul li {
    font-size: 0.96em;
}
.w3agile_Projects_grid {
    width: 77%;
}
.contact-form input[type="text"], .contact-form input[type="mail"] {
    width: 32.5%;
}
.modal-dialog {
    width: 400px !important;
}
.login-right input[type="submit"] {
    font-size: 1.2em;
}
.logo, deatils {
    float: left;
    text-align: center;
    padding-top: 0;
}
.logo h1 a, .deatils {
    float: none;
}
.deatils > ul {
    text-align: center;
}
.deatils > ul > li {
    margin: 2%;
}
.service-left {
    width: 100%;
}
#open {
    padding-left: 1em;
}
div.card-columns {
    padding-left: 0!important;
}
.footer-grid {
    padding: 0;
    width: 100%;
    margin: 1em;
    text-align: center;
    padding-right: 1.5em;
}
.pull-right
{
  margin-right: 1em!important;
}
.footer-grid:nth-child(2), .footer-grid:nth-child(3) {
    
}
}
@media(max-width:480px){
.form-control {
    width: 100%;
}
.listview
{
margin-left: 10em;
}
.room
{
  background-color: #eee;
  border: 1px solid #eee;
  border-radius:10px;
  margin:2px;
  width:100%;
}

.indicate {
    float: none;
    text-align: center;
}
.deatils {
    float: none;
    text-align: center;
    margin-top: 1em;
    margin-right: 1em;
}
.caption h3 {
    font-size: 2.5em;
}
.caption {
    top: 20%;
    width: 90%;
    left: 5%;
}
.navbar-default .navbar-nav > li > a {
    font-size: 1.2em;
}
.place-grid {
    float: left;
    width: 100%;
}
.modal-dialog {
    width: 345px !important;
}
.login-right h3 {
    font-size: 2em;
}
.login-right input[type="submit"] {
    font-size: 1.1em;
}
.place-grid:nth-child(2) {
    margin: 1em 0;
}
.place-grid:nth-child(4), .place-grid:nth-child(5) {
    margin-top: 1em;
}
.place-grid:nth-child(6) {
    margin-top: 2em;
}
.popular-grid {
    width: 99%;
    margin: 0 auto;
}
.popular-grid h4, .fer-grid h4, .about-grid h4, .company-grid h4, .agent-right h4, .serce-grid h4, .special-grid h4, .contact-right h4, .footer-grid h4, .w3agile_Projects_grid figcaption h4, .properties-grid1 h4 {
    font-size: 1.8em;
}
.right-grid p, .fer-grid p, .test-grid p, .about-grid p, .company-grid p, .serce-grid p, .special-grid p, .why-grid p, .contact-mub p {
    font-size: 0.95em;
}
.test-grid {
    float: left;
    width: 100%;
}
.test-left img {
    margin: 0 auto;
}
.girihomes {
    display: inline-block;
    margin-top: 2em!important;
}
.about-grid1 {
    width: 100%;
}
.about-grid {
    width: 100%;
  margin-top: 2em;
}
.special-icon {
    bottom: -25%;
    left: 32%;
}
.portfolio_grid_mubss:nth-child(2) {
    margin-top: 3em;
}
.w3agile_Projects_grid {
    width: 94%;
}
.w3agile_Projects_grid figcaption h4 {
    margin: 3.2em 0 .5em;
}
.banner1 {
    min-height: 141px;
    padding: 4em 0 0;
}
.contact-left {
    float: left;
    width: 100%;
}
.contact-right {
    margin-top: 2em;
    width: 100%;
}
.contact-form input[type="text"], .contact-form input[type="mail"] {
    width: 100%;
}
.contact-form input[type="email"] {
    margin: 13px 0px;
}
.contact-form textarea {
    min-height: 150px;
}
.contact-form input[type="submit"], .contact-form input[type="reset"] {
    width: 20%; 
}
.page-header h3 {
    font-size: 1.8em;
}
h1#h1-bootstrap-heading {
    font-size: 1.6em;
}
h2#h2-bootstrap-heading {
    font-size: 1.5em;
}
h3#h3-bootstrap-heading {
    font-size: 1.4em;
}
button.btn.btn-lg {
    font-size: 0.9em;
    margin: 0 0 0.5em 0px;
    padding: 9px;
}
.label {
    font-weight: 300 !important;
}
.label {
    padding: 4px 6px;
    border: none;
    text-shadow: none;
  display: inline;
    padding: .2em .6em .3em;
    font-size: 52%;
}
.page-header {
    padding-bottom: 9px;
    margin: 24px 0 20px;
} 
.contact-right ul li {
    font-size: 0.95em;
}
}
@media(max-width:414px){
.header-bottom {
    padding: 0;
}
.room
{
  background-color: #eee;
  border: 1px solid #eee;
  border-radius:10px;
  margin:2px;
  width:100%;
}
.logo
{
  margin-left: 1em;
}

.listview
{
margin-left: 0em;
}
.company-w3, .count-agileits, .services-mub, .special-w3, .why-w3, .projects-agile, .page-w3, .contact-mub, .footer-section {
    padding: 2em 0;
}
.place-grids, .popular-grids, .feature-grids, .testimonial-grids, .about-grids, .company-grids, .count-grids, .agent-grids, .service-grids, .special-grids, .map, .contact-grids, .contact-form {
    margin-top: -1em;
}
.portfolio_grid_mubss:nth-child(2) {
    margin-top: 2em;
}
.logo h1 a {
    font-size: 1em;
}
.popular-w3, .featured-mub, .testimonials-mub, .about-mubs, .company-w3, .count-agileits, .services-mub, .special-w3, .why-w3, .projects-agile, .page-w3, .contact-mub, .footer-section ,.agent-mub{
    padding: 2em 0px;
}
.caption h3 {
    font-size: 2em;
}
.caption p {
    font-size: 0.92em;
    line-height: 1.5em;
  width: 100%;
}
.modal-body {
    padding: 1em 2em 2em;
}
.modal-dialog {
    width: 330px !important;
}
.serach-w3agile {
    padding: 2em 0;
}
.popular-grid {
    width: 100% 
}
.left-grid {
    float: left;
    width: 21%;
}
.banner1 {
    min-height: 98px;
    padding: 4em 0 0;
}
.agent-left {
    float: left;
    width: 100%;
}
.agent-right {
    float: left;
    width: 100%;
    padding: 1.1em 1em 1em;
}
.special-grid {
    width: 100%;
}
.special-icon {
    bottom: -14%;
    left: 39%;
}
.special-grid:nth-child(2) {
    margin: 2em 0;
}
.special-grid:nth-child(3) {
    margin-top: 0em;
}


.w3agile_Projects_grid {
    width: 100%;
}
.w3agile_Projects_grid figure {
    height: 223.5px;
}
.w3agile_Projects_grid figcaption h4 {
    margin: 3em 0 .5em;
}
.map {
    min-height: 195px;
}
.contact-form input[type="submit"], .contact-form input[type="reset"] {
    width: 27%;
}
}
@media(max-width:384px){
h2.tittle {
    font-size: 2.5em;
}
.room
{
  background-color: #eee;
  border: 1px solid #eee;
  border-radius:10px;
  margin:2px;
  width:100%;
}

.numscroller {
    font-size: 2em; 
}
.caption {
    top: 14%;
}
.popular-grid h4, .fer-grid h4, .about-grid h4, .company-grid h4, .agent-right h4, .serce-grid h4, .special-grid h4, .contact-right h4, .footer-grid h4, .w3agile_Projects_grid figcaption h4, .properties-grid1 h4 {
    font-size: 1.6em;
}
.w3agile_Projects_grid figure {
    height: 204.5px;
}
.special-bottom {
    padding: 3em 1em 2em;
}
.copy-section {
    padding: 1em 0;
}
}
@media(max-width:375px){
.caption {
    top: 14%;
}
.logo h1 a {
    font-size: 0.95em;
}
.room
{
  background-color: #eee;
  border: 1px solid #eee;
  border-radius:10px;
  margin:2px;
  width:100%;
}

h2.tittle {
    font-size: 2em;
}
h3.tittle, h3.tittle1, h3.tittle2 {
    font-size: 2em;
}
.popular-grid h4, .fer-grid h4, .about-grid h4, .company-grid h4, .agent-right h4, .serce-grid h4, .special-grid h4, .contact-right h4, .footer-grid h4, .w3agile_Projects_grid figcaption h4, .properties-grid1 h4 {
    font-size: 1.4em;
}
.caption h3 {
    font-size: 1.85em;
}
.banner1 h3 {
    font-size: 1.8em;
}
.left-grid {
    width: 100%;
}
.right-grid {
    width: 100%;
}
.left-grid p {
    color: #fff;
    background: #6B7C8E;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
  margin: 0 auto 1em; 
}
.care {
    margin-top: 2em;
    text-align: center;
}
.agent-left {
    width: 100%;
}
.agent-right {
    width: 100%;
  padding: 1em 0em 1em 2em;
  margin-bottom: 1.2em;
}
.agent-grid img {
    width: 100%;
}
.w3agile_Projects_grid figure {
    height: 197.5px;
}
.w3agile_Projects_grid figcaption h4 {
    margin: 2.5em 0 .5em;
}
}
@media(max-width:320px){
.indicate a, .deatils ul li a {
    font-size: .93em;
}
.zs-enabled .zs-slideshow
{
  height: 106%!important;
}

.logo {
    
    margin-left: 0.6em;
  }
.room
{
  background-color: #eee;
  border: 1px solid #eee;
  border-radius:10px;
  margin:2px;
  width:100%;
}
.caption h3 {
    font-size: 1.8em;
}
.caption {
    top: 9%;
    width: 95%;
    left: 2%;
}
.place-grid:nth-child(6) {
    margin-top: 1em;
}
.modal-dialog {
    width: 270px !important;
  margin: 8em auto 0 auto;
}
.popular-grid p {
    padding: 1em 0em;
}
.serach-w3agile {
    padding: 1em 0;
}
.place-grids, .popular-grids, .feature-grids, .testimonial-grids, .about-grids, .company-grids, .count-grids, .agent-grids, .service-grids, .special-grids, .map, .contact-grids, .contact-form {
    margin-top: 1em;
    margin-right: 1.4em;
}
.place-grid,.popular-grid,.properties-grid,.properties-grid1,.fer-grid,.test-grid,.about-grid1,.about-grid,.company-grid,.count-grid,.agent-grid,.special-grid,.why-grid,.w3agile_Projects_grid,.contact-left,.contact-right{
  padding:0;
}
.properties-mubs {
    padding: 2em 0 2em;
}
.service-left {
    width: 100%;
    padding: 0;
}
.service-right {
    width: 100%;
    padding: 0;
  margin-top:1em;
}
.footer-grid:nth-child(2).footer-grid:nth-child(3), .footer-grid:nth-child(4) {
    margin-top: 1em;
}
.special-icon {
    bottom: -18%;
    left: 37%;
}
.fer-grid:nth-child(2) {
    margin: 1em 0;
}
.w3agile_Projects_grid figure {
    height: 163.5px;
}
.w3agile_Projects_grid figcaption h4 {
    margin: 1.8em 0 .5em;
}
.contact-form input[type="submit"], .contact-form input[type="reset"] {
    width: 28%;
    padding: 7px 0;
}
.contact-form textarea {
    min-height: 120px;
} 
}
.nav-tabs .active a
{
    color: #fff!important;
}
.nav-tabs > li > a
{
  background-color: #eeeeee;
}
.nav-tabs > li.active > a
 {
  background-color: #F7882F;
  color:#fff;
 }
.nav-tabs > li.active a:hover
{
  background-color: #F7882F;
  color: #fff!important;
}
.nav-tabs > li > a:hover
 {
  background-color: #F7882F;
  color:#fff;
 }
.tab-pane
{
    margin-top:3em;
}

#booknow form h4 
{
    color:#6B7C8E;
    font-size:23px;
}

#booknow form .row 
{
    margin-top:1.5em;
    margin-bottom:2.5em;
}

#booknow form .bookprice 
{
    margin-top:2em;   
    margin-bottom:1em;
    margin-left: 1em; 
}
.desc
{
    color:#6B7C8E;
    margin-top: 1em;
}
.nav-grid{
  margin-top: 1em;
}
